PORT=5000
MONGO_URI=mongodb+srv://<USERNAME>:<PASSWORD>@cluster0.dbae9zc.mongodb.net/TO_DO_LIST
JWT_SECRET=replace_with_a_long_random_secret
JWT_EXPIRE=30d
NODE_ENV=development
CLIENT_URL=http://localhost:5173
